In [2]:
import pandas as pd

In [3]:
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep =";")

In [4]:
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep =";", header = 0)

In [5]:
df.shape

(1000, 9)

In [10]:
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep =";", header = 0, usecols=["AddressID","AddressLine1"])

In [15]:
df = pd.read_csv("Dados aula 1.csv", encoding = "UTF-8", sep =";", header = 0, usecols=["AddressID","AddressLine1"], nrows=200)

In [16]:
df.head()

     AddressID          AddressLine1
0            1         1970 Napa Ct.
1            2    9833 Mt. Dias Blv.
2            3  7484 Roundtree Drive
3            4      9539 Glenside Dr
4            5         1226 Shoe St.
..         ...                   ...
195        196     4525 Benedict Ct.
196        197       7820 Bird Drive
197        198    1962 Ferndale Lane
198        199    5263 Etcheverry Dr
199        200      2473 Orchard Way

[200 rows x 2 columns]