In [2]:
import pandas as pd

In [3]:
df = pd.read_excel("Dados Excel.xlsx")

In [5]:
#Passando a segunda planilha
#Se não especificar, o pandas lê a primeira planilha do arquivo

df = pd.read_excel("Dados Excel.xlsx", sheet_name=1)

In [6]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [19]:
arq_excel = pd.ExcelFile("Dados Excel.xlsx")

In [20]:
arq_excel.sheet_names

['Plan1', 'Aba2']

In [23]:
#Trabalhar com diferentes planilhas de um arquivo

aba1 = arq_excel.parse("Plan1")
aba2 = arq_excel.parse("Aba2")

In [26]:
aba1.head(40)

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000
2,3,7484 Roundtree Drive,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE14740DA930C7893915EC0,4C506923-6D1B-452C-A07C-BAA6F5B142A4,2013-03-07 00:00:00.000
3,4,9539 Glenside Dr,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE474011A5C28A7C955EC0,E5946C78-4BCC-477F-9FA1-CC09DE16A880,2009-02-03 00:00:00.000
4,5,1226 Shoe St.,NaN,Bothell,79,98011,0xE6100000010C61C64D8ABBD94740C460EA3FD8855EC0,FBAFF937-4A97-4AF0-81FD-B849900E9BB0,2008-12-19 00:00:00.000
5,6,1399 Firestone Drive,NaN,Bothell,79,98011,0xE6100000010CE0B4E50458DA47402F12A5F80C975EC0,FEBF8191-9804-44C8-877A-33FDE94F0075,2009-02-13 00:00:00.000
6,7,5672 Hale Dr.,NaN,Bothell,79,98011,0xE6100000010C18E304C4ADE1474011A5C28A7C955EC0,0175A174-6C34-4D41-B3C1-4419CD6A0446,2009-12-11 00:00:00.000
7,8,6387 Scenic Avenue,NaN,Bothell,79,98011,0xE6100000010C0029A5D93BDF4740E248962FD5975EC0,3715E813-4DCA-49E0-8F1C-31857D21F269,2008-12-17 00:00:00.000
8,9,8713 Yosemite Ct.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC4740851574F7198C5EC0,268AF621-76D7-4C78-9441-144FD139821A,2012-05-30 00:00:00.000
9,10,250 Race Court,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474040862564B7825EC0,0B6B739D-8EB6-4378-8D55-FE196AF34C04,2008-12-02 00:00:00.000
10,11,1318 Lasalle Street,NaN,Bothell,79,98011,0xE6100000010CCEFFBBFD9FE9474057B9479C728E5EC0,981B3303-ACA2-49C7-9A96-FB670785B269,2013-02-28 00:00:00.000
11,12,5415 San Gabriel Dr.,NaN,Bothell,79,98011,0xE6100000010C6A80AD742DDC474011A5C28A7C955EC0,1C2C9CFE-AB9F-4F96-8E1F-D9666B6F7F22,2013-01-05 00:00:00.000
12,13,9265 La Paz,NaN,Bothell,79,98011,0xE6100000010CC3228C0867E84740F3BC169B7F835EC0,E0BA2F52-C907-4553-A0DB-67FC67D28AE4,2013-12-14 00:00:00.000
13,14,8157 W. Book,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE4474067A89189898A5EC0,A1C658AE-C553-4A9D-A081-A550D39B64DF,2009-12-04 00:00:00.000
14,15,4912 La Vuelta,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405E6ED153B4945EC0,F397E64A-A9D8-4E57-9E7C-B10928ACADD6,2013-11-18 00:00:00.000
15,16,40 Ellis St.,NaN,Bothell,79,98011,0xE6100000010CF76E45EFC9DC474067A89189898A5EC0,0312B65F-CB60-4396-9EC7-A78B2EAC1A1B,2012-11-09 00:00:00.000
16,17,6696 Anchor Drive,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740BC262A0A03905EC0,CE9B3B47-9267-4727-BCD2-687C47482C06,2013-11-08 00:00:00.000
17,18,1873 Lion Circle,NaN,Bothell,79,98011,0xE6100000010C219D64AE1FE447405FF307D247845EC0,963854F7-E3CB-46A1-A3DB-1B05F71D6473,2013-11-30 00:00:00.000
18,19,3148 Rose Street,NaN,Bothell,79,98011,0xE6100000010C813A0D5F9FDE47407DDBB3C144965EC0,6B7ACB0F-CDBF-44FD-BA14-EB08A56C1582,2014-04-03 00:00:00.000
19,20,6872 Thornwood Dr.,NaN,Bothell,79,98011,0xE6100000010C034C75E402DE4740483BAF1BF9885EC0,4B1F1ED4-97A4-43FD-BB1E-9E05817718E8,2009-02-05 00:00:00.000
20,21,5747 Shirley Drive,NaN,Bothell,79,98011,0xE6100000010CEB9115FA90DB47408E4F342DEF815EC0,D83299D7-A0F4-4055-9BD5-5908E245D757,2009-02-11 00:00:00.000
21,22,636 Vine Hill Way,NaN,Portland,58,97205,0xE6100000010CB55B852318C34640DD7A52C8D3A75EC0,7F641525-2704-4F73-9D8A-EB062CFBFA3C,2011-05-24 00:00:00.000
22,23,6657 Sand Pointe Lane,NaN,Seattle,79,98104,0xE6100000010C9F07FD5862DD47409F583A2EE9975EC0,B991568F-5096-4A92-B25C-1A3E4D2ACC66,2009-01-15 00:00:00.000
23,24,80 Sunview Terrace,NaN,Duluth,36,55802,0xE6100000010C04554A7DD566474059F1E1D0B30457C0,BE07D3C8-6E58-4670-9DA9-151AB6D3D620,2011-05-24 00:00:00.000
24,25,9178 Jumping St.,NaN,Dallas,73,75201,0xE6100000010C10A810D1886240403A0F0653663158C0,C8DF3BD9-48F0-4654-A8DD-14A67A84D3C6,2012-07-31 00:00:00.000
25,26,5725 Glaze Drive,NaN,San Francisco,9,94109,0xE6100000010CFE3883FD5AE14240E38A86B1249A5EC0,77415959-A4EE-4DA6-86F9-70C097560005,2011-05-24 00:00:00.000
26,27,2487 Riverside Drive,NaN,Nevada,74,84407,0xE6100000010C50ECC7344CA044400C0B98AB57FA5BC0,C1D0F3B0-6B2A-4388-8861-48F44D8270A1,2011-05-24 00:00:00.000
27,28,9228 Via Del Sol,NaN,Phoenix,6,85004,0xE6100000010CCEEAD68894D440404D9D2EDC020E5CC0,12AE5EE1-FC3E-468B-9B92-3B970B169774,2011-08-01 00:00:00.000
28,29,8291 Crossbow Way,NaN,Memphis,72,38103,0xE6100000010C7AED632C1D9641401C8388AE3C8A56C0,7CC794AD-1822-412B-AB94-337A89A1D0C9,2011-05-24 00:00:00.000
29,30,9707 Coldwater Drive,NaN,Orlando,15,32804,0xE6100000010C90C10F63019F3C4089A0F6721C5254C0,7431591F-36C1-4A65-B722-0E006DB73557,2011-07-01 00:00:00.000
30,31,9100 Sheppard Avenue North,NaN,Ottawa,57,K4B 1T7,0xE6100000010CFE790DE102A84640715F3BDE74D652C0,644DEA26-E6FD-4019-85E6-35364DDAB0CC,2011-05-24 00:00:00.000
31,32,26910 Indela Road,NaN,Montreal,63,H1Y 2H5,0xE6100000010C30D3FD464FCA4640CD2A07B90E6152C0,84A95F62-3AE8-4E7E-BBD5-5A6F00CD982D,2012-06-30 00:00:00.000
32,33,10203 Acorn Avenue,NaN,Calgary,1,T2P 2G8,0xE6100000010CB2F2FC2E338E4940BA61B7D381795CC0,237986D3-0F02-4D59-9B2E-6B1A6B5A6185,2011-05-24 00:00:00.000
33,34,"94, rue Descartes",NaN,Bordeaux,119,33000,0xE6100000010C1F9AACD1B8624640606323101251E3BF,57F25EED-0F07-43BA-83B4-5A4B398F4BF2,2013-12-21 10:09:29.423
34,35,Pascalstr 951,NaN,Berlin,20,14111,0xE6100000010C078D021125484A408AD730111F9C2A40,2985CF68-8155-45A3-B086-7B08BD4D46EF,2013-05-23 00:00:00.000
35,36,34 Waterloo Road,NaN,Melbourne,77,3000,0xE6100000010C17C9C9D093E642C035B63CBED31E6240,18E590A6-A500-48B5-B092-9E0B59816436,2013-05-23 00:00:00.000
36,37,Downshire Way,NaN,Cambridge,14,BA5 3HX,0xE6100000010CFD6ECF37749849406E2CA98C0AF704C0,7F80F9CE-50F1-404B-8C18-7C95EE35A6EE,2012-05-23 00:00:00.000
37,38,8154 Via Mexico,NaN,Detroit,35,48226,0xE6100000010C3D5A41438330454086E592457FC954C0,BD54F2AD-157A-4491-9F05-CC1D5A492CF1,2011-05-24 00:00:00.000
38,39,3997 Via De Luna,NaN,Cambridge,30,2139,0xE6100000010C74132705E72B4540E64A71E28ACB51C0,A5A9AC6D-5488-4A15-A932-F6FA651093F7,2012-09-23 00:00:00.000
39,40,1902 Santa Cruz,NaN,Bothell,79,98011,0xE6100000010C96D19C3E4AE2474057B9479C728E5EC0,5A0C5C47-18BE-420B-89BA-D39878160D80,2010-02-01 00:00:00.000

In [25]:
aba2.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000

In [18]:
df.head()

,AddressID,AddressLine1,AddressLine2,City,StateProvinceID,PostalCode,SpatialLocation,rowguid,ModifiedDate
0,1,1970 Napa Ct.,NaN,Bothell,79,98011,0xE6100000010CAE8BFC28BCE4474067A89189898A5EC0,9AADCB0D-36CF-483F-84D8-585C2D4EC6E9,2007-12-04 00:00:00.000
1,2,9833 Mt. Dias Blv.,NaN,Bothell,79,98011,0xE6100000010CD6FA851AE6D74740BC262A0A03905EC0,32A54B9E-E034-4BFB-B573-A71CDE60D8C0,2008-11-30 00:00:00.000