In [2]:
import pandas as pd

In [4]:
microdadosEnem = pd.read_csv("microdados_enem_2015\DADOS\MICRODADOS_ENEM_2015.csv", encoding = "ISO-8859-1", sep = ";")

In [5]:
microdadosEnem.columns.values

array(['NU_INSCRICAO', 'NU_ANO', 'TP_FAIXA_ETARIA', 'TP_SEXO',
       'TP_ESTADO_CIVIL', 'TP_COR_RACA', 'TP_NACIONALIDADE',
       'TP_ST_CONCLUSAO', 'TP_ANO_CONCLUIU', 'TP_ESCOLA', 'TP_ENSINO',
       'IN_TREINEIRO', 'CO_MUNICIPIO_ESC', 'NO_MUNICIPIO_ESC',
       'CO_UF_ESC', 'SG_UF_ESC', 'TP_DEPENDENCIA_ADM_ESC',
       'TP_LOCALIZACAO_ESC', 'TP_SIT_FUNC_ESC', 'IN_CERTIFICADO',
       'NO_ENTIDADE_CERTIFICACAO', 'CO_UF_ENTIDADE_CERTIFICACAO',
       'SG_UF_ENTIDADE_CERTIFICACAO', 'CO_MUNICIPIO_PROVA',
       'NO_MUNICIPIO_PROVA', 'CO_UF_PROVA', 'SG_UF_PROVA',
       'TP_PRESENCA_CN', 'TP_PRESENCA_CH', 'TP_PRESENCA_LC',
       'TP_PRESENCA_MT', 'CO_PROVA_CN', 'CO_PROVA_CH', 'CO_PROVA_LC',
       'CO_PROVA_MT', 'NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT', 'TX_RESPOSTAS_CN', 'TX_RESPOSTAS_CH',
       'TX_RESPOSTAS_LC', 'TX_RESPOSTAS_MT', 'TP_LINGUA',
       'TX_GABARITO_CN', 'TX_GABARITO_CH', 'TX_GABARITO_LC',
       'TX_GABARITO_MT', 'TP_STATUS_REDACAO', 'NU_NOTA_COMP1',
       'NU_NOTA_COMP2', 'NU_NOTA_COMP3', 'NU_NOTA_COMP4', 'NU_NOTA_COMP5',
       'NU_NOTA_REDACAO', 'Q001', 'Q002', 'Q003', 'Q004', 'Q005', 'Q006',
       'Q007', 'Q008', 'Q009', 'Q010', 'Q011', 'Q012', 'Q013', 'Q014',
       'Q015', 'Q016', 'Q017', 'Q018', 'Q019', 'Q020', 'Q021', 'Q022',
       'Q023', 'Q024', 'Q025', 'Q026', 'Q027', 'Q028', 'Q029', 'Q030',
       'Q031', 'Q032', 'Q033', 'Q034', 'Q035', 'Q036', 'Q037', 'Q038',
       'Q039', 'Q040', 'Q041', 'Q042', 'Q043', 'Q044', 'Q045', 'Q046',
       'Q047', 'Q048', 'Q049', 'Q050'], dtype=object)

In [33]:
microdadosEnemSelecionados = microdadosEnem.filter(items = ['CO_MUNICIPIO_PROVA','NO_MUNICIPIO_PROVA','CO_UF_PROVA','SG_UF_PROVA','NU_NOTA_CN', 'NU_NOTA_CH', 'NU_NOTA_LC',
       'NU_NOTA_MT','NU_NOTA_REDACAO'])

In [42]:
microdadosEnemSelecionados.dropna(how='any', inplace=True)
microdadosEnemSelecionados

,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,4309209,Gravataí,43,RS,657.4,705.3,591.1,732.3,760.0
2,2609600,Olinda,26,PE,528.5,531.1,511.3,566.5,640.0
4,3168606,Teófilo Otoni,31,MG,679.9,730.6,621.2,732.4,800.0
5,4218004,Tijucas,42,SC,598.7,658.0,579.0,576.4,480.0
6,3518800,Guarulhos,35,SP,652.1,671.9,609.3,685.5,820.0
...,...,...,...,...,...,...,...,...,...
7746422,3301702,Duque de Caxias,33,RJ,433.3,564.5,491.8,381.3,520.0
7746423,4125605,São Mateus do Sul,41,PR,599.3,635.1,647.0,673.8,560.0
7746424,3118601,Contagem,31,MG,453.9,626.4,555.1,546.9,600.0
7746425,2408102,Natal,24,RN,511.6,581.8,549.0,486.3,780.0
7746426,3510500,Caraguatatuba,35,SP,615.7,668.8,549.1,596.9,660.0

In [35]:
mediaEnemPorMunicipio = microdadosEnemSelecionados.groupby\
(['CO_MUNICIPIO_PROVA','NO_MUNICIPIO_PROVA','CO_UF_PROVA','SG_UF_PROVA'], as_index = False).mean()

In [36]:
mediaEnemPorMunicipio

,CO_MUNICIPIO_PROVA,NO_MUNICIPIO_PROVA,CO_UF_PROVA,SG_UF_PROVA,NU_NOTA_CN,NU_NOTA_CH,NU_NOTA_LC,NU_NOTA_MT,NU_NOTA_REDACAO
0,1100015,Alta Floresta D'Oeste,11,RO,466.139951,540.945221,475.494451,436.507566,348.723206
1,1100023,Ariquemes,11,RO,469.506829,545.041636,484.398878,441.329001,338.833994
2,1100049,Cacoal,11,RO,472.003599,549.611903,488.699613,450.373146,348.423260
3,1100056,Cerejeiras,11,RO,465.142553,542.154610,478.048924,442.920086,374.933921
4,1100064,Colorado do Oeste,11,RO,482.593989,553.770219,494.218094,463.441160,393.376344
...,...,...,...,...,...,...,...,...,...
1718,5220603,Silvânia,52,GO,481.246154,554.874215,495.567403,470.547072,435.696203
1719,5221403,Trindade,52,GO,470.461270,548.848360,494.622194,451.227326,356.773264
1720,5221601,Uruaçu,52,GO,471.537330,545.745680,489.466617,457.543601,395.061115
1721,5221858,Valparaíso de Goiás,52,GO,462.709910,542.792457,493.629539,437.121271,342.247265
1722,5300108,Brasília,53,DF,486.320390,563.556724,515.437834,472.020201,370.123378

In [38]:
mediaEnemPorMunicipio.to_csv("mediaEnemPorMunicipio")